<a href="https://colab.research.google.com/github/AshilPrasad/Machine-learning/blob/main/imdb_movies_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/imdb_movie_data.csv")
df

,movie,year,certificate,genre.1,genre.2,genre.3,imdb_rating,metascore,time_minute,vote,gross_earning
0,"Aguirre, der Zorn Gottes",(1972),'-,Action,Adventure,Biography,7.8,'-,95 min,58519,'-
1,The General,(1926),'-,Action,Adventure,Comedy,8.1,'-,67 min,92992,$1.03M
2,Kakushi-toride no san-akunin,(1958),'-,Action,Adventure,Drama,8.1,89,139 min,40060,'-
3,The Magnificent Seven,(1960),'-,Action,Adventure,Drama,7.7,74,128 min,97247,$4.91M
4,Sherlock Jr.,(1924),'-,Action,Comedy,Romance,8.2,'-,45 min,51515,$0.98M
...,...,...,...,...,...,...,...,...,...,...,...
995,Memento,(2000),UA,Mystery,Thriller,'-,8.4,81,113 min,1252090,$25.54M
996,The Outlaw Josey Wales,(1976),UA,Western,'-,'-,7.8,69,135 min,75658,$31.80M
997,Sardar Udham,(2021),UA 13+,Biography,Crime,Drama,8.4,'-,164 min,43555,'-
998,Thirteen Lives,(2022),UA 16+,Action,Adventure,Biography,7.8,66,147 min,58273,'-
999,Dil Chahta Hai,(2001),Unrated,Comedy,Drama,Romance,8.1,'-,183 min,73359,$0.30M

In [ ]:
df.head()

,movie,year,certificate,genre.1,genre.2,genre.3,imdb_rating,metascore,time_minute,vote,gross_earning
0,"Aguirre, der Zorn Gottes",(1972),'-,Action,Adventure,Biography,7.8,'-,95 min,58519,'-
1,The General,(1926),'-,Action,Adventure,Comedy,8.1,'-,67 min,92992,$1.03M
2,Kakushi-toride no san-akunin,(1958),'-,Action,Adventure,Drama,8.1,89,139 min,40060,'-
3,The Magnificent Seven,(1960),'-,Action,Adventure,Drama,7.7,74,128 min,97247,$4.91M
4,Sherlock Jr.,(1924),'-,Action,Comedy,Romance,8.2,'-,45 min,51515,$0.98M

In [ ]:
df.tail()

,movie,year,certificate,genre.1,genre.2,genre.3,imdb_rating,metascore,time_minute,vote,gross_earning
995,Memento,(2000),UA,Mystery,Thriller,'-,8.4,81,113 min,1252090,$25.54M
996,The Outlaw Josey Wales,(1976),UA,Western,'-,'-,7.8,69,135 min,75658,$31.80M
997,Sardar Udham,(2021),UA 13+,Biography,Crime,Drama,8.4,'-,164 min,43555,'-
998,Thirteen Lives,(2022),UA 16+,Action,Adventure,Biography,7.8,66,147 min,58273,'-
999,Dil Chahta Hai,(2001),Unrated,Comedy,Drama,Romance,8.1,'-,183 min,73359,$0.30M

In [ ]:
df.describe()

       imdb_rating          vote
count  1000.000000  1.000000e+03
mean      7.967800  3.122232e+05
std       0.275679  3.781816e+05
min       7.600000  2.573000e+04
25%       7.800000  6.095775e+04
50%       7.900000  1.535870e+05
75%       8.100000  4.327572e+05
max       9.300000  2.714258e+06

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie          1000 non-null   object
 1   year           1000 non-null   object
 2   certificate    1000 non-null   object
 3   genre.1        1000 non-null   object
 4   genre.2        1000 non-null   object
 5   genre.3        1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   metascore      1000 non-null   object
 8   time_minute    1000 non-null   object
 9   vote           1000 non-null   int64
 10  gross_earning  1000 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 86.1+ KB

In [ ]:
df.isna().sum()

movie            0
year             0
certificate      0
genre.1          0
genre.2          0
genre.3          0
imdb_rating      0
metascore        0
time_minute      0
vote             0
gross_earning    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["movie"]=le.fit_transform(df["movie"])
df["year"]=le.fit_transform(df["year"])
df["certificate"]=le.fit_transform(df["certificate"])
df["genre.1"]=le.fit_transform(df["genre.1"])
df["genre.2"]=le.fit_transform(df["genre.2"])
df["genre.3"]=le.fit_transform(df["genre.3"])
df["metascore"]=le.fit_transform(df["metascore"])
df["time_minute"]=le.fit_transform(df["time_minute"])
df["gross_earning"]=le.fit_transform(df["gross_earning"])
df

,movie,year,certificate,genre.1,genre.2,genre.3,imdb_rating,metascore,time_minute,vote,gross_earning
0,33,50,0,0,1,1,7.8,0,139,58519,738
1,788,5,0,0,1,2,8.1,0,114,92992,88
2,398,36,0,0,1,4,8.1,51,39,40060,738
3,839,38,0,0,1,4,7.7,36,28,97247,515
4,665,3,0,0,3,13,8.2,0,111,51515,84
...,...,...,...,...,...,...,...,...,...,...,...
995,504,78,17,11,17,19,8.4,43,13,1252090,373
996,856,54,17,13,20,19,7.8,31,35,75658,436
997,644,99,18,3,4,4,8.4,0,64,43555,738
998,902,100,19,0,1,1,7.8,28,47,58273,738
999,212,79,20,4,5,13,8.1,0,82,73359,53

In [ ]:
x=df.iloc[:,:-1].values
x

array([[3.3000e+01, 5.0000e+01, 0.0000e+00, ..., 0.0000e+00, 1.3900e+02,
        5.8519e+04],
       [7.8800e+02, 5.0000e+00, 0.0000e+00, ..., 0.0000e+00, 1.1400e+02,
        9.2992e+04],
       [3.9800e+02, 3.6000e+01, 0.0000e+00, ..., 5.1000e+01, 3.9000e+01,
        4.0060e+04],
       ...,
       [6.4400e+02, 9.9000e+01, 1.8000e+01, ..., 0.0000e+00, 6.4000e+01,
        4.3555e+04],
       [9.0200e+02, 1.0000e+02, 1.9000e+01, ..., 2.8000e+01, 4.7000e+01,
        5.8273e+04],
       [2.1200e+02, 7.9000e+01, 2.0000e+01, ..., 0.0000e+00, 8.2000e+01,
        7.3359e+04]])

In [ ]:
y=df.iloc[:,-1].values
y

array([738,  88, 738, 515,  84,  28, 738, 738, 738, 738, 738,  38,  23,
       738, 738, 738, 571, 738, 738, 561, 121, 738,  44, 738, 738, 738,
        30,  38, 738,  46, 154, 314, 537,  51, 105, 738, 738, 738, 738,
       738,  66, 117, 266, 426, 518, 615, 306, 571, 738,  43, 738, 738,
       738,  42,  46,  53, 125, 511, 548, 738, 738,  52, 738, 513, 302,
       738, 738, 504,  15, 738,  32, 738, 738, 738, 738, 577,  93, 738,
        26,  47, 738,  34,  39,  41,  58, 563, 290, 636, 738,  31, 738,
       738, 738, 738, 738, 738,  29,  29,  30,  33,  34,  35,  35,  43,
        51,  54,  62,  74,  75,  96, 311,  18, 738, 120, 738,  53,  24,
       423, 723, 738, 504, 504, 738,  33, 738,  68, 738, 504,  44, 131,
        31,  39, 738, 738,  37,  38,  45,  64,  95, 189, 303, 357, 428,
        99, 738,  20, 738,  34,  36,  41,  43, 738, 173, 738, 738, 738,
       738, 738, 498, 140,   0, 738, 448, 687, 738, 734, 310, 261, 738,
       659, 738, 225, 738, 738, 573, 258, 738, 738, 579, 465, 410, 717,
       680, 383, 738, 738, 640, 421,  29,   6, 109,  71, 661, 366, 184,
       678, 738, 525, 271, 584, 626, 132, 554, 586, 167, 738, 738, 422,
       474, 356, 227, 279, 368, 552, 600, 656, 668, 690, 200, 738, 218,
       305, 471, 499, 653, 328, 466, 150,  72, 146, 347, 467, 738, 738,
       211, 262, 259, 319, 484, 160,  31, 709, 425, 447, 621, 174, 387,
       628, 738, 590,  77, 161, 670, 198, 242, 402, 468, 526, 544, 551,
       254, 462, 614, 655, 686, 735, 684, 354, 205, 176, 716, 607, 738,
       217, 280, 528, 593, 546, 738, 228,  29, 142, 201, 221, 630, 581,
       492,  51, 165,  55, 147, 204, 234, 288, 293, 395, 529, 547, 569,
       620, 622, 665,  69, 666, 223, 738,  17, 133, 316, 353, 461, 605,
       611, 641, 649, 703, 726, 169, 141, 199, 202, 233, 416, 443, 459,
       476, 688, 724, 633,  29, 364, 679, 738, 738, 738, 109, 113, 115,
       159, 193, 236, 253, 370, 396, 420, 479, 517, 519, 540, 697,  11,
       738, 337, 473, 738, 536, 152, 738, 522, 496, 186, 482, 530, 329,
       155, 151, 245, 407,  31, 293, 578, 675, 707, 710, 374, 286, 158,
       701, 738, 738, 144, 570, 598, 642,  27, 505, 738,   3,  25, 332,
       560, 137, 239, 210, 304, 358, 196, 441, 610,  37, 553, 564, 413,
       618, 182, 252,  30, 704,  36,  40,  34, 738, 567,  45, 327, 469,
       738, 309, 390,  54,  33,  49, 738, 424, 738, 576,  78, 102, 738,
       446, 116,  13,  83, 372, 659, 508,  52, 481, 582, 738, 414, 420,
       418, 639, 616, 295,  70, 107, 226, 506,  90, 101, 718, 451, 738,
       386, 477, 738,  29,  94, 231, 297, 312, 738, 597, 391, 238,  79,
       589, 130,  28, 667,  57, 287, 338, 629, 342, 409, 738, 497,  91,
       417,  44, 250, 509, 638,  37,  65, 123, 129, 456,  97, 249, 341,
       385, 738,  59,  86, 112, 185, 363, 419, 495, 514, 575, 700, 291,
       285,  28, 480,  60, 412, 568, 721, 634, 720, 561, 712, 738, 298,
       698, 351,  41,  92, 153, 695, 283, 738, 619, 438, 483, 434, 450,
       487, 188, 696, 714, 732, 545, 171, 738, 738, 272, 300, 738,  50,
       491, 738, 738,   4, 500, 738,  21, 237, 267, 541, 546, 429, 521,
       643,  98, 164, 328, 592, 681, 731, 179, 654, 168, 260,  64,   9,
       660,   8, 542, 738, 273, 288, 367, 439, 486, 535, 455, 617, 738,
       263, 281, 298, 330, 334, 345, 352, 378, 388, 556,  85, 738, 738,
       738, 175, 216, 224, 230, 246, 278, 282, 318, 320, 323, 324, 333,
       365, 375, 389, 400, 406, 442, 463, 472, 488, 527, 534, 531, 738,
       122, 274, 346, 512,  62,  10,  94, 738, 738,  54,  76, 108, 683,
        80, 562,  22, 738, 335, 682, 689,  45, 580, 139, 583, 213, 241,
       289, 296, 588, 591, 632,  16, 240, 587, 209, 268, 339, 384, 397,
       533, 558, 594, 166, 470, 111, 118, 160, 565, 645, 411, 669, 711,
       738, 694,  67, 232, 301, 430, 738, 738, 180, 190, 392, 516, 724,
       733, 114, 445,  82, 674, 119, 410,  59, 269, 294, 308, 539, 623,
       317, 399, 138, 128, 368, 191, 738, 453,   1,  19,  56, 504, 501,
        38, 699,  48, 738, 738, 738,  12,  34,  53,  55,  64,  73, 143,
       264, 292, 520, 604, 609, 708, 719, 737,  97, 203, 313, 677, 705,
        94, 417, 612, 738, 124, 738, 673, 738, 738, 738, 100, 738,  97,
        35, 738, 495, 631, 738,  58, 596, 362, 507, 738, 738, 738,   7,
       148, 156, 207, 285, 307, 343, 401, 485, 503, 532,  87, 284, 738,
        47, 725, 162, 212, 215, 722, 326, 337, 415, 510, 738, 493,  61,
       475, 222, 569, 344, 381, 437, 458, 490, 699, 738, 738, 149, 183,
       195, 211, 275, 322, 464, 601, 606, 685, 715, 404, 433, 652, 691,
       706, 134, 172, 229, 350, 360, 377, 380, 405, 440, 523, 602, 647,
       657, 244, 432,  32, 145, 738, 163, 730, 557, 249, 361, 738, 738,
       738, 738,  43,  81, 321, 478, 603, 637, 693, 599, 738, 738, 650,
       664, 738, 157, 315, 639, 676, 738, 109, 277, 435, 502, 728, 449,
       672, 194, 543, 177, 348, 219, 524, 646, 325, 625, 738, 104, 566,
       359, 494, 276, 349, 403, 408, 489, 738, 555,  63,  65,  40, 639,
       187, 713, 369, 738,   5, 257, 736, 247, 355, 572, 613, 331, 644,
       376, 398, 727, 394, 251, 427, 595, 126, 243, 293, 738, 113, 538,
       549, 627, 635,  81, 249, 444, 729, 127, 454, 192,  43, 206, 738,
       738,  29,  56,  74, 452, 214,  92,  99, 235, 608, 103, 270, 738,
        14,  29,  49,  64, 197, 220, 248, 255, 256, 340, 555, 639, 648,
       658, 692, 181, 671, 336, 574,   2, 110, 585, 106, 136, 294, 559,
       662, 663, 702, 178, 265, 457, 651, 460, 170, 371, 393, 624, 135,
       382, 299, 208, 550, 379, 431,  89, 373, 436, 738, 738,  53])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

array([[5.70000e+01, 7.20000e+01, 1.50000e+01, ..., 0.00000e+00,
        6.00000e+01, 5.39780e+04],
       [6.78000e+02, 9.40000e+01, 1.30000e+01, ..., 4.10000e+01,
        6.00000e+00, 9.64550e+04],
       [4.70000e+02, 8.00000e+01, 1.40000e+01, ..., 4.40000e+01,
        9.00000e+00, 4.67680e+04],
       ...,
       [8.25000e+02, 8.10000e+01, 1.70000e+01, ..., 1.70000e+01,
        5.40000e+01, 4.48274e+05],
       [5.87000e+02, 8.50000e+01, 1.30000e+01, ..., 5.20000e+01,
        1.40000e+02, 9.63950e+04],
       [9.35000e+02, 3.00000e+01, 0.00000e+00, ..., 5.40000e+01,
        1.33000e+02, 2.65740e+04]])

In [ ]:
x_test

array([[5.02000e+02, 8.30000e+01, 1.40000e+01, ..., 3.40000e+01,
        2.40000e+01, 2.21142e+05],
       [9.74000e+02, 1.13000e+02, 1.50000e+01, ..., 2.80000e+01,
        1.30000e+01, 1.68346e+05],
       [2.62000e+02, 4.90000e+01, 1.50000e+01, ..., 2.90000e+01,
        8.10000e+01, 4.49170e+04],
       ...,
       [3.06000e+02, 1.00000e+02, 1.20000e+01, ..., 4.10000e+01,
        1.70000e+01, 8.81010e+04],
       [6.48000e+02, 1.00000e+01, 0.00000e+00, ..., 4.90000e+01,
        1.37000e+02, 2.88110e+04],
       [1.90000e+02, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.21000e+02, 6.58400e+04]])

In [ ]:
y_train

array([738, 414,  44, 738, 284,  14, 738, 273, 206, 654, 556, 483, 535,
       191, 226, 451,  72, 337, 264, 368,  47,  36,  69,  62,  87, 291,
       370, 638,  19, 738, 399, 605,  34,  10, 738, 726, 368, 738, 194,
       450, 409, 182, 738,  68, 304,  33,  21, 736, 738,  74, 717, 280,
        40, 738, 204,  39, 622, 738, 688, 738, 424, 486,  38,  90, 738,
       738, 401, 366,  25, 637, 659, 128, 303, 738, 738, 124, 738, 738,
       376, 685, 484,  20,  61, 211, 218, 549, 363, 738, 208, 485, 738,
       117,  59,  75, 330, 125, 252, 418, 631, 738, 738,  79, 171, 434,
       472, 119,  81, 159, 738, 285, 561, 738, 725, 686, 652,   1, 738,
       657, 738, 107, 738,  38, 250, 168, 372, 407,  41,  52, 562, 738,
       581, 186, 738, 477, 738,  23, 680,  31, 738, 406, 499, 660, 585,
       591,  50, 455,  54, 738, 594, 411, 263, 543, 210, 687, 738,  76,
       494, 118, 286, 567, 738, 120, 738, 648, 560,  51, 738, 309, 695,
       738,  40, 738, 127,  31, 113, 382, 113,  43, 282, 388, 365, 738,
        38, 196, 487, 426, 266,  29, 261,  86, 219, 738, 495,  34,  78,
       579, 616, 738, 449, 104, 301, 738, 358, 398, 475, 639, 180, 642,
       255, 100, 526, 545, 109, 738, 459, 738, 471, 465, 170,  44, 152,
       166, 315, 236,  13, 738, 244, 586,  94, 738, 521,  15, 531, 630,
       738, 659, 738, 577, 520,  70,  29, 607, 259,  65, 423,  99, 568,
       377, 352, 738,  24, 287, 674, 511, 676, 727, 293, 205, 306, 697,
       678,  53, 432,  97, 655, 639, 711, 223, 253, 336,  41, 738, 326,
       738, 473, 249, 428,  28,  37, 274, 202, 561, 322, 738, 275, 704,
       732, 527, 738, 258, 174, 440, 470,  35, 664, 738,  51, 230, 260,
       612, 738, 504, 416, 402, 587, 181, 109,  53, 442, 318, 410, 665,
        58,  56,  53, 190, 265, 712, 371, 615, 644, 738, 603, 225, 571,
       412, 738, 106, 452, 720,  64,  91, 221, 738, 524, 328,  30, 220,
       481,  49, 155, 146, 738, 671, 374, 130, 574, 478, 138, 249, 184,
       599, 738, 514, 110, 602, 439,   2, 448, 331, 173, 699, 431, 738,
        18, 466, 724,  43,  49,  54, 738, 281,  47, 645, 738,  42, 738,
       618, 608, 422, 209, 738, 507, 738, 211, 738, 718, 296, 198, 666,
       738,   9, 738, 609, 738, 614, 333, 547, 327,  43, 415, 738, 408,
       500, 276, 123,  34, 738, 738, 454, 677, 268, 540, 738, 476, 640,
        33, 693, 323,  99, 340, 525, 324, 228, 288, 553, 738, 383, 554,
       582, 387, 469, 192, 738, 572,  32, 349, 131,  80, 413, 215, 285,
       737, 394, 738, 335, 427, 738, 195, 293, 122, 177, 596, 738, 136,
       480, 354, 706, 420,  59, 738, 445, 738, 728, 320, 565, 710, 651,
       361, 738, 722, 738, 169, 213,  34, 713, 453, 522, 544, 738, 512,
       738, 201, 158,  27, 653, 197, 715,  57, 519, 700,  22, 135, 444,
       355, 488, 738, 738, 580, 738, 546, 256, 288, 569, 563, 425, 294,
       140, 153, 738, 738, 738, 632, 489, 650,  43, 235, 708, 738, 592,
        31, 417, 542, 114, 231, 237, 403, 738, 239, 222, 441,   7,  81,
       690,  84, 156, 682, 729, 375, 313, 491,  64, 738,  30, 149, 143,
         8,  30, 495, 571, 537, 738, 730, 626,  37,  38, 625, 347, 129,
       343, 738, 165, 390, 669, 137, 378, 112,  95, 738, 667, 583,  44,
       663, 698, 163, 658, 302, 606, 738, 738,  66, 249, 738, 421, 738,
       668, 493, 738, 646, 115, 738, 738,  55, 395, 623, 161,  73, 297,
       386, 436, 404, 639, 176, 132, 738, 541, 292, 564, 317, 342, 172,
       307,  54, 731, 332,  88,  29, 460, 164, 738, 738, 105, 503,  28,
       102, 738, 245, 738, 193, 187, 681, 479, 532, 709, 738, 703, 216,
         3, 217, 310, 557, 379, 139, 691, 509, 457, 575, 647, 447, 179,
       348, 328, 392,   6, 162, 308, 629, 430,  60, 548, 338,  98, 738,
       673, 670, 738, 641,  94,   0, 593, 248,  71, 505, 183,  45,  97,
       396, 207, 316, 384,  31, 533, 672,  33, 707, 636,  29, 364, 600,
       238, 504, 400, 121, 539, 738,  62, 716, 157, 508,  35])

In [ ]:
y_test

array([351, 203, 705, 339, 738,  67, 346, 721, 738,  45, 601,  93, 683,
       294,  56, 369,  29, 566, 362, 199,   4, 573, 675, 738, 227, 262,
        35, 624, 257, 270, 517, 189, 534, 185, 578, 271, 516, 738,   5,
       738, 633,  29, 611, 559, 620, 546, 627, 224, 738, 738,  64, 325,
       462, 367, 738, 154, 463, 738, 305, 134, 529,  46, 272, 356, 278,
        82, 397, 277,  32, 300,  74, 341, 345,  94, 234,  55, 588, 738,
       334, 133, 232, 738, 528, 504, 141, 738, 738, 501,  97, 724, 598,
       101,  41, 200, 337,  52, 738, 738, 513, 380, 699, 738, 738, 468,
       108,  45, 267, 555, 738, 126, 619, 350, 393, 433, 290,  83, 738,
       178, 188, 293, 555, 576, 504, 254, 319, 643, 617, 295, 435, 490,
       175, 321, 735, 373, 438,  53, 504, 656, 738, 738, 518, 628,  12,
       142,  63, 251, 464, 621, 229, 233, 689, 498, 702, 446, 214, 312,
       353, 269, 738, 359,  85, 148, 241, 289, 109, 111, 569, 733, 649,
       461, 482, 497, 311, 299,  37, 329, 242, 551, 738, 694, 385, 160,
       701, 283, 738,  64, 536, 151,  92, 738, 738, 523, 240, 584, 552,
        36, 738, 474, 389,  26,  46, 696, 410, 429, 145, 738, 734, 243,
       738, 360, 738, 357, 635, 405,  16, 679, 558, 590, 613, 738, 738,
       719, 662,  43, 639, 738, 738,  11, 247, 714, 420,  89, 417, 738,
        51, 314, 467, 692, 661, 738, 515, 167, 634, 458,  17,  96, 116,
       738,  58, 492,  39, 550, 510,  65, 610, 443, 298, 595, 538,  28,
       604, 391,  29, 684, 738, 502, 437, 144, 738, 570, 456, 723, 738,
        77,  92, 738, 738, 246,  34, 212, 298, 381, 160, 147, 279,  48,
       496, 506, 150,  29, 103, 344, 419, 597, 530, 589, 738, 738, 738,
       738])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)
x_train

array([[-1.54577094,  0.0950799 ,  0.68253816, ..., -1.79513502,
         0.20231588, -0.6880246 ],
       [ 0.64788207,  0.96872571,  0.34464798, ...,  0.39526399,
        -0.96453494, -0.5754537 ],
       [-0.08686805,  0.41276928,  0.51359307, ...,  0.55553709,
        -0.89970989, -0.70713226],
       ...,
       [ 1.16715259,  0.45248046,  1.02042834, ..., -0.8869208 ,
         0.07266579,  0.35692335],
       [ 0.32642889,  0.61132515,  0.34464798, ...,  0.98293202,
         1.93098376, -0.57561271],
       [ 1.55572237, -1.57278939, -1.85163819, ...,  1.08978075,
         1.77972532, -0.76064962]])

In [ ]:
x_test

array([[-0.00891618,  0.47104738,  0.5037673 , ...,  0.01609018,
        -0.53754175, -0.23157359],
       [ 1.57518779,  1.71683828,  0.67376752, ..., -0.3130272 ,
        -0.79266727, -0.37069296],
       [-0.81439277, -0.94084897,  0.67376752, ..., -0.2581743 ,
         0.78447233, -0.69593283],
       ...,
       [-0.66672206,  1.17699556,  0.16376687, ...,  0.40006047,
        -0.69989436, -0.58214143],
       [ 0.48108208, -2.56037714, -1.8762357 , ...,  0.83888365,
         2.08329318, -0.73837273],
       [-1.05603575, -2.97564077, -1.8762357 , ..., -1.84890833,
         1.71220151, -0.64079997]])

In [ ]:
#model creation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
KNN_model=KNeighborsClassifier()
NBA_model=MultinomialNB()
SVMA_model=SVC()
lis=[KNN_model,NBA_model,SVMA_model]

In [ ]:
for i in lis:
  print(i)
  i.fit(x_train,y_train)
  y_pred=i.predict(x_test)
  print(y_pred)
  print("accuracy score:",accuracy_score(y_test,y_pred))
  print("classification_report:",classification_report(y_test,y_pred))
print()

KNeighborsClassifier()
[170  60  49 124  10 139 282  35 738 738 738 738  79 265  59 355 738  76
  14 180   9  39 473  10  34  31  38  43 231 256 738  33 230  59  35 386
 738 401   1 738  29 738  28 256 159  45  44 237  79 738 138  40 301 179
 738 738 209 738  94 164 109 738 738 347 230  59 139 179 738 372  33  28
 237  57 155 738  44 738 324 174 168 738 205 738 593  19 211  57 738 280
  71 255  59 372  59  54   7 738 738 164   1  97  74  40 195 130 149  49
 410 324  43 372 192 434 738  35  44 256   9  44  43  28  22 166 159 301
 153  38 183 322  80 275 202 182 404 738 738 422 738  30 117  51  64 354
  80 180 404 231 349 738  34 738  34  76 181  40 186   1  44 164 102 255
 427  44 238  53  35 250 228  28 210  65  30  49  28 210 614 122 738 128
  44  59 738 244 738 738 202 137 113  35 255 244 168  40 486   1  51  29
  94  30 738 372  97  94 149  40  44 179  49 349  33  20  81 275  10 137
  45  45 166  14 738 256  58  38  80 738 738  33  79 231  71 738 128   9
 738 738 205 143  71 738 738 424 112 149 738  33  28 738 117  51 738 135
  70 139 196 201 112  44  44 738 326 338  33  65  33 738 388 220  43  70
  60  24 738   6 256  29  29 738 423 135 281  60 387 202  72 285 738 738
  40  43 738 372  49  34 191   8 738  76 738 738]
accuracy score: 0.06666666666666667
classification_report:               precision    recall  f1-score   support

           1       0.00      0.00      0.00         0
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1
           6       0.00      0.00      0.00         0
           7       0.00      0.00      0.00         0
           8       0.00      0.00      0.00         0
           9       0.00      0.00      0.00         0
          10       0.00      0.00      0.00         0
          11       0.00      0.00      0.00         1
          12       0.00      0.00      0.00         1
          14       0.00      0.00      0.00         0
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00         1
          19       0.00      0.00      0.00         0
          20       0.00      0.00      0.00         0
          22       0.00      0.00      0.00         0
          24       0.00      0.00      0.00         0
          26       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          29       0.00      0.00      0.00         4
          30       0.00      0.00      0.00         0
          31       0.00      0.00      0.00         0
          32       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         0
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         0
          39       0.00      0.00      0.00         1
          40       0.00      0.00      0.00         0
          41       0.00      0.00      0.00         1
          43       0.00      0.00      0.00         1
          44       0.00      0.00      0.00         0
          45       0.00      0.00      0.00         2
          46       0.00      0.00      0.00         2
          48       0.00      0.00      0.00         1
          49       0.00      0.00      0.00         0
          51       0.00      0.00      0.00         1
          52       0.00      0.00      0.00         1
          53       0.00      0.00      0.00         1
          54       0.00      0.00      0.00         0
          55       0.00      0.00      0.00         1
          56       0.00      0.00      0.00         1
          57       0.00      0.00      0.00         0
          58       0.00      0.00      0.00         1
          59       0.00      0.00      0.00         0
          60       0.00      0.00      0.00         0
          63       0.00      0.00      0.00         1
          64       0.00      0.00      0.00         2
          65       0.00      0.00      0.00         1
          67       0.00      0.00      0.00         1
          70       0.00      0.00      0.00         0
          71       0.00      0.00      0.00         0
          72       0.00      0.00      0.00         0
          74       0.00      0.00      0.00         1
          76       0.00      0.00      0.00         0
          77       0.00      0.00      0.00         1
          79       0.00      0.00      0.00         0
          80       0.00      0.00      0.00         0
          81       0.00      0.00      0.00         0
          82       0.00      0.00      0.00         1
          83       0.00      0.00      0.00         1
          85       0.00      0.00      0.00         1
          89       0.00      0.00      0.00         1
          92       0.00      0.00      0.00         2
          93       0.00      0.00      0.00         1
          94       0.00      0.00      0.00         1
          96       0.00      0.00      0.00         1
          97       0.00      0.00      0.00         1
         101       0.00      0.00      0.00         1
         102       0.00      0.00      0.00         0
         103       0.00      0.00      0.00         1
         108       0.00      0.00      0.00         1
         109       0.00      0.00      0.00         1
         111       0.00      0.00      0.00         1
         112       0.00      0.00      0.00         0
         113       0.00      0.00      0.00         0
         116       0.00      0.00      0.00         1
         117       0.00      0.00      0.00         0
         122       0.00      0.00      0.00         0
         124       0.00      0.00      0.00         0
         126       0.00      0.00      0.00         1
         128       0.00      0.00      0.00         0
         130       0.00      0.00      0.00         0
         133       0.00      0.00      0.00         1
         134       0.00      0.00      0.00         1
         135       0.00      0.00      0.00         0
         137       0.00      0.00      0.00         0
         138       0.00      0.00      0.00         0
         139       0.00      0.00      0.00         0
         141       0.00      0.00      0.00         1
         142       0.00      0.00      0.00         1
         143       0.00      0.00      0.00         0
         144       0.00      0.00      0.00         1
         145       0.00      0.00      0.00         1
         147       0.00      0.00      0.00         1
         148       0.00      0.00      0.00         1
         149       0.00      0.00      0.00         0
         150       0.00      0.00      0.00         1
         151       0.00      0.00      0.00         1
         153       0.00      0.00      0.00         0
         154       0.00      0.00      0.00         1
         155       0.00      0.00      0.00         0
         159       0.00      0.00      0.00         0
         160       0.00      0.00      0.00         2
         164       0.00      0.00      0.00         0
         166       0.00      0.00      0.00         0
         167       0.00      0.00      0.00         1
         168       0.00      0.00      0.00         0
         170       0.00      0.00      0.00         0
         174       0.00      0.00      0.00         0
         175       0.00      0.00      0.00         1
         178       0.00      0.00      0.00         1
         179       0.00      0.00      0.00         0
         180       0.00      0.00      0.00         0
         181       0.00      0.00      0.00         0
         182       0.00      0.00      0.00         0
         183       0.00      0.00      0.00         0
         185       0.00      0.00      0.00         1
         186       0.00      0.00      0.00         0
         188       0.00      0.00      0.00         1
         189       0.00      0.00      0.00         1
         191       0.00      0.00      0.00         0
         192       0.00      0.00      0.00         0
         195       0.00      0.00      0.00         0
         196       0.00      0.00      0.00         0
         199       0.00      0.00      0.00         1
         200       0.00      0.00      0.00         1
         201       0.00      0.00      0.00         0
         202       0.00      0.00      0.00         0
         203       0.00      0.00      0.00         1
         205       0.00      0.00      0.00         0
         209       0.00      0.00      0.00         0
         210       0.00      0.00      0.00         0
         211       0.00      0.00      0.00         0
         212       0.00      0.00      0.00         1
         214       0.00      0.00      0.00         1
         220       0.00      0.00      0.00         0
         224       0.00      0.00      0.00         1
         227       0.00      0.00      0.00         1
         228       0.00      0.00      0.00         0
         229       0.00      0.00      0.00         1
         230       0.00      0.00      0.00         0
         231       0.00      0.00      0.00         0
         232       0.00      0.00      0.00         1
         233       0.00      0.00      0.00         1
         234       0.00      0.00      0.00         1
         237       0.00      0.00      0.00         0
         238       0.00      0.00      0.00         0
         240       0.00      0.00      0.00         1
         241       0.00      0.00      0.00         1
         242       0.00      0.00      0.00         1
         243       0.00      0.00      0.00         1
         244       0.00      0.00      0.00         0
         246       0.00      0.00      0.00         1
         247       0.00      0.00      0.00         1
         250       0.00      0.00      0.00         0
         251       0.00      0.00      0.00         1
         254       0.00      0.00      0.00         1
         255       0.00      0.00      0.00         0
         256       0.00      0.00      0.00         0
         257       0.00      0.00      0.00         1
         262       0.00      0.00      0.00         1
         265       0.00      0.00      0.00         0
         267       0.00      0.00      0.00         1
         269       0.00      0.00      0.00         1
         270       0.00      0.00      0.00         1
         271       0.00      0.00      0.00         1
         272       0.00      0.00      0.00         1
         275       0.00      0.00      0.00         0
         277       0.00      0.00      0.00         1
         278       0.00      0.00      0.00         1
         279       0.00      0.00      0.00         1
         280       0.00      0.00      0.00         0
         281       0.00      0.00      0.00         0
         282       0.00      0.00      0.00         0
         283       0.00      0.00      0.00         1
         285       0.00      0.00      0.00         0
         289       0.00      0.00      0.00         1
         290       0.00      0.00      0.00         1
         293       0.00      0.00      0.00         1
         294       0.00      0.00      0.00         1
         295       0.00      0.00      0.00         1
         298       0.00      0.00      0.00         2
         299       0.00      0.00      0.00         1
         300       0.00      0.00      0.00         1
         301       0.00      0.00      0.00         0
         305       0.00      0.00      0.00         1
         311       0.00      0.00      0.00         1
         312       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         1
         319       0.00      0.00      0.00         1
         321       0.00      0.00      0.00         1
         322       0.00      0.00      0.00         0
         324       0.00      0.00      0.00         0
         325       0.00      0.00      0.00         1
         326       0.00      0.00      0.00         0
         329       0.00      0.00      0.00         1
         334       0.00      0.00      0.00         1
         337       0.00      0.00      0.00         1
         338       0.00      0.00      0.00         0
         339       0.00      0.00      0.00         1
         341       0.00      0.00      0.00         1
         344       0.00      0.00      0.00         1
         345       0.00      0.00      0.00         1
         346       0.00      0.00      0.00         1
         347       0.00      0.00      0.00         0
         349       0.00      0.00      0.00         0
         350       0.00      0.00      0.00         1
         351       0.00      0.00      0.00         1
         353       0.00      0.00      0.00         1
         354       0.00      0.00      0.00         0
         355       0.00      0.00      0.00         0
         356       0.00      0.00      0.00         1
         357       0.00      0.00      0.00         1
         359       0.00      0.00      0.00         1
         360       0.00      0.00      0.00         1
         362       0.00      0.00      0.00         1
         367       0.00      0.00      0.00         1
         369       0.00      0.00      0.00         1
         372       0.00      0.00      0.00         0
         373       0.00      0.00      0.00         1
         380       0.00      0.00      0.00         1
         381       0.00      0.00      0.00         1
         385       0.00      0.00      0.00         1
         386       0.00      0.00      0.00         0
         387       0.00      0.00      0.00         0
         388       0.00      0.00      0.00         0
         389       0.00      0.00      0.00         1
         391       0.00      0.00      0.00         1
         393       0.00      0.00      0.00         1
         397       0.00      0.00      0.00         1
         401       0.00      0.00      0.00         0
         404       0.00      0.00      0.00         0
         405       0.00      0.00      0.00         1
         410       0.00      0.00      0.00         1
         417       0.00      0.00      0.00         1
         419       0.00      0.00      0.00         1
         420       0.00      0.00      0.00         1
         422       0.00      0.00      0.00         0
         423       0.00      0.00      0.00         0
         424       0.00      0.00      0.00         0
         427       0.00      0.00      0.00         0
         429       0.00      0.00      0.00         1
         433       0.00      0.00      0.00         1
         434       0.00      0.00      0.00         0
         435       0.00      0.00      0.00         1
         437       0.00      0.00      0.00         1
         438       0.00      0.00      0.00         1
         443       0.00      0.00      0.00         1
         446       0.00      0.00      0.00         1
         456       0.00      0.00      0.00         1
         458       0.00      0.00      0.00         1
         461       0.00      0.00      0.00         1
         462       0.00      0.00      0.00         1
         463       0.00      0.00      0.00         1
         464       0.00      0.00      0.00         1
         467       0.00      0.00      0.00         1
         468       0.00      0.00      0.00         1
         473       0.00      0.00      0.00         0
         474       0.00      0.00      0.00         1
         482       0.00      0.00      0.00         1
         486       0.00      0.00      0.00         0
         490       0.00      0.00      0.00         1
         492       0.00      0.00      0.00         1
         496       0.00      0.00      0.00         1
         497       0.00      0.00      0.00         1
         498       0.00      0.00      0.00         1
         501       0.00      0.00      0.00         1
         502       0.00      0.00      0.00         1
         504       0.00      0.00      0.00         3
         506       0.00      0.00      0.00         1
         510       0.00      0.00      0.00         1
         513       0.00      0.00      0.00         1
         515       0.00      0.00      0.00         1
         516       0.00      0.00      0.00         1
         517       0.00      0.00      0.00         1
         518       0.00      0.00      0.00         1
         523       0.00      0.00      0.00         1
         528       0.00      0.00      0.00         1
         529       0.00      0.00      0.00         1
         530       0.00      0.00      0.00         1
         534       0.00      0.00      0.00         1
         536       0.00      0.00      0.00         1
         538       0.00      0.00      0.00         1
         546       0.00      0.00      0.00         1
         550       0.00      0.00      0.00         1
         551       0.00      0.00      0.00         1
         552       0.00      0.00      0.00         1
         555       0.00      0.00      0.00         2
         558       0.00      0.00      0.00         1
         559       0.00      0.00      0.00         1
         566       0.00      0.00      0.00         1
         569       0.00      0.00      0.00         1
         570       0.00      0.00      0.00         1
         573       0.00      0.00      0.00         1
         576       0.00      0.00      0.00         1
         578       0.00      0.00      0.00         1
         584       0.00      0.00      0.00         1
         588       0.00      0.00      0.00         1
         589       0.00      0.00      0.00         1
         590       0.00      0.00      0.00         1
         593       0.00      0.00      0.00         0
         595       0.00      0.00      0.00         1
         597       0.00      0.00      0.00         1
         598       0.00      0.00      0.00         1
         601       0.00      0.00      0.00         1
         604       0.00      0.00      0.00         1
         610       0.00      0.00      0.00         1
         611       0.00      0.00      0.00         1
         613       0.00      0.00      0.00         1
         614       0.00      0.00      0.00         0
         617       0.00      0.00      0.00         1
         619       0.00      0.00      0.00         1
         620       0.00      0.00      0.00         1
         621       0.00      0.00      0.00         1
         624       0.00      0.00      0.00         1
         627       0.00      0.00      0.00         1
         628       0.00      0.00      0.00         1
         633       0.00      0.00      0.00         1
         634       0.00      0.00      0.00         1
         635       0.00      0.00      0.00         1
         639       0.00      0.00      0.00         1
         643       0.00      0.00      0.00         1
         649       0.00      0.00      0.00         1
         656       0.00      0.00      0.00         1
         661       0.00      0.00      0.00         1
         662       0.00      0.00      0.00         1
         675       0.00      0.00      0.00         1
         679       0.00      0.00      0.00         1
         683       0.00      0.00      0.00         1
         684       0.00      0.00      0.00         1
         689       0.00      0.00      0.00         1
         692       0.00      0.00      0.00         1
         694       0.00      0.00      0.00         1
         696       0.00      0.00      0.00         1
         699       0.00      0.00      0.00         1
         701       0.00      0.00      0.00         1
         702       0.00      0.00      0.00         1
         705       0.00      0.00      0.00         1
         714       0.00      0.00      0.00         1
         719       0.00      0.00      0.00         1
         721       0.00      0.00      0.00         1
         723       0.00      0.00      0.00         1

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

ValueError: ignored